* {
    background-color: black;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
    color: #d21617;
}

#logo {
    width: 150px;
    height: auto;
}

#banner {
    background-image: url(./assets/otc2.jpg);
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}